<%- include("header") -%>
    <nav class="navbar  navbar-expand-lg bg-light">
      <div class="container-fluid">
        <img class="navbar-brand" src="images/logo.jpeg" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
              </ul>
            </div>
          </div>
        </nav>


      <div class="about-header" style="background-image:url(images/about-us.jpg)">
        <div class="layer">

         </div>
      </div>


      <h1 class="about-h1">About us</h1>
      <section class="about-section">
        <div class="about about-paragraph-1 ">
          <div class="">
            <img src="images/james-currey-bust.jpg" alt="">
          </div>
          <div class="">
            <p>
              The James Currey Society is a nonprofit organization in coorperation with the African Studies Centre, University of Oxford.
              The Society is focused on studying the works done by British publisher, James Currey, making his contributions to African and
              Caribbean literature and publishing known globally. The Society achieves this through workshops, conferences, institution of
              prizes and residencies.
            </p>
          </div>
        </div>

        <div class="about about-paragraph-2">
          <div class="">
            <img src="images/onyeka-about.jpg" alt="">
          </div>
          <div class="">
            <p>
              Lorem ipsum dolor sit amet. Cum earum sapiente rem vero nesciunt aut quaerat saepe est suscipit cumque ut animi iste ea
              velit mollitia! Rem deserunt praesentium sed reiciendis iste sit quis rerum aut cumque rerum.Sed odit culpa nam dolores
              officia aut iure perferendis et voluptatum earum nam numquam odio sed explicabo rerum. Et molestiae maxime ea saepe voluptates
              qui dolor iste ut molestiae minus vel beatae inventore a consequatur tempora?
            </p>
          </div>
        </div>

      </section>



<%- include("footer") -%>
