<%- include("header") -%>

<header class="header">

    <div class="">
      <a href="/" class="top-application-img"><img src="images/logo.jpeg" alt=""></a>
    </div>

    <div class="">
      <a href="/" ><h1 class="top-application-h1">James Currey Society</h1></a>
    </div>


</header>

  <section id="application">
    <form>
      <div class="row form-row">
        <div class="col-lg-6 form-column">
          <label class="application-form-label" for="College">College</label>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col-lg-6 form-column">
          <label class="application-form-label" for="Educational Qualification">Educational Qualification</label>
            <textarea  class="application-textarea" name="name"></textarea>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-lg-6 form-column">
          <label class="application-form-label" for="Personal Statement">Personal Statement</label>
          <textarea class="application-textarea" name="name"></textarea>
        </div>
        <div class="col-lg-6 form-column">
          <label class="application-form-label" for="">Submission (Link to file in PDF)</label>
          <textarea class="application-textarea" name="name"></textarea>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-lg-6 form-column">
          <label class="application-form-label" for="visaRequest">Request for Visa Letter of Invitation</label>
          <textarea class="application-textarea" name="name"></textarea>
        </div>
        <div class="col-lg-6 form-column">
          <label class="application-form-label" for="financialSupportRequest">Request for Financial Support</label>
          <textarea class="application-textarea" name="name"></textarea>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-lg-6 form-column">
          <label class="application-form-label" for="strength">What will make you a great James Currey Workshop Participant?</label>
          <textarea class="application-textarea" name="name"></textarea>
        </div>
        <div class="col-lg-6 extend">
         <label class="application-form-label" for="Extend your course?">Extend your course?</label>
         <br>

         <div class="form-check form-check-inline" style="padding-top: 30px;">
           <input type="radio" name="inlineRadioOptions" id="inlineRadio1" class="radio" value="option1">
           <label class="form-check-label" for="inlineRadio1">yes</label>
         </div>
         <div class="form-check form-check-inline" style="padding-top: 30px;">
           <input type="radio" name="inlineRadioOptions" id="inlineRadio2" class="radio" value="option2">
           <label class="form-check-label" for="inlineRadio2">no</label>
         </div>
       </div>
      </div>
      <button type="button" class="btn btn-secondary btn-lg form-btn">Submit</button>
    </form>

    <div class="previous">
      <a href="/application"class="next-item">&laquo; Previous</a>
    </div>

  </section>


<%- include("footer") -%>
