
<%- include("header") -%>
    <header class="header">

        <div class="">
          <a href="/" class="top-application-img"><img src="images/logo.jpeg" alt=""></a>
        </div>

        <div class="">
          <a href="/" ><h1 class="top-application-h1">James Currey Society</h1></a>
        </div>


    </header>

    <section id="application">
      <h1 class="application-h1">Application</h1>
      <div class="">
        <div class="row" >
          <div class="col-lg-6 application-top">
            <p>Applications will be evaluated on motivation and levels of English and articulation.</p>
            <p>To join the James Currey Society, apply for membership by sending an email with your CV to:
              <a href="mailto:membership@jamescurreysociety.co.uk">membership@jamescurreysociety.co.uk</a>
            </p>
            <img src="images/vector.jpg" class="vector-image" alt="">
            <div>
              <p>
                <b>Please note:</b> In light of COVID-19, should you be accepted onto a workshop and are unable to attend, we offer free deferrals which are flexible to your changes in travel plans. Our course dates must also remain flexible, and may be changed in response to the crisis. For more information about this policy, please contact us directly.
              </p>
            </div>
            <img src="images/logo.jpeg" style="width:100%;"alt="">
          </div>

          <div class="col-lg-6">
            <div>
              <p>To join the James Currey Society, apply for membership by sending an email with your CV to: -->
                <!-- -->
                <a href="mailto:membership@jamescurreysociety.co.uk">membership@jamescurreysociety.co.uk</a>
                <br />or <br />Please complete the form below, after submitting your application, we’ll be in touch very soon to let you know the result.
              </p>
            </div>
            <form>
              <div class="row form-row">
                <div class="col-lg-6 form-column">
                  <label for="First name">First Name</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-lg-6 form-column">
                  <label for="Last name">Last Name</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-lg-6 form-column">
                  <label for="Email">Email</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-lg-6 form-column">
                  <label for="Phone number">Phone number</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-lg-6 form-column">
                  <label for="Home Address">Home Address</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-lg-6 form-column">
                  <label for="Date of Birth">Date of Birth</label>
                  <input type="date" class="form-control" placeholder="">
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>
      <div class="next">
        <a href="/applicationNext" class="next-item" >Next &raquo;</a>
      </div>

    </section>
    <%- include("footer") -%>
