<%- include("header") -%>

  <nav class="navbar  navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img class="navbar-brand" src="images/logo.jpeg" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
            </ul>
          </div>
        </div>
      </nav>

  <section>
    <div class="news-article-ikhide-header">
      <img src="images/ikhide-ikheloa-better-picture-header.jpg" style="width: 100%; height: auto" alt="">
    </div>
  </section>


  <section class="ikhide-linked-page">
    <div class="publishing-date">
      <div class="ikhide-date-container">
        <p>Published</p>
        <p class="ikhide-date">25 August 2021</p>
        <p>Share this</p>
      </div>


    <div class="news-social-icon">
      <span class="icon"><i class="social-icons fas fa-envelope"></i></span>
      <span class="icon"><i class="social-icons fab fa-facebook-f"></i></span>
      <span class="icon"><i class="social-icons fab fa-twitter"></i></span>
      <span class="icon"><i class="social-icons fa-brands fa-linkedin"></i></span>
      <span class="icon"><i class="social-icons fab fa-instagram"></i></span>
    </div>

    </div>
    <div class="news-article-ikhide-container-grid">

      <div class="">
        <div class="">
          <h1> Ikhide R. Ikheloa to receive James Currey Lifetime Achievement Award in Literary Criticism</h1>
          <p class="ikhide-date">25 August 2021</p>
          <br>
          <p>
            The Board of Advisors of the James Currey Society in cooperation with African Studies Centre, University of Oxford,
            has announced Mr. Ikhide Ikheloa will be honoured with the James Currey Lifetime Achievement Award for Literary Criticism.
            Mr. Ikheloa has been a consistent voice in appreciation of literary and artistic work.
            </p>
            <br>
        </div>

        <div class="">
            <p>
            This Award is to appreciate and
            recognize the important work he has done in Literary Criticism.The James Currey Society is focused on researching the
            works of eminent British publisher, James Currey.He will be honoured at the James Currey Prize Ceremony on
            September 3, 2022 at St. Antony’s College, University of Oxford. For more details, contact: info@jamescurreysociety.co.uk
          </p>
        </div>
      </div>
        </div>




    <div class="more-news">
        <h2 class="more-news-h1">More news</h2>
        <div class="more-news-grid-image">
          <div class="">
            <a href="https://www.lindaikejisblog.com/2021/10/onyeka-nwelue-visits-james-currey-in-oxford-video.html">Onyeka Nwelue visits James Currey in Oxford (video)</a>
            <p class="more-news-paragraph">10 July 2021</p>
          </div>
          <div class="">
            <img src="images/nwelue-visit-james-currey.png" alt="">
          </div>
        </div>
        <hr>
        <div class="more-news-grid-image">
          <div class="">
            <a href="https://www.africanstudies.ox.ac.uk/article/stephen-embleton-named-inaugural-james-currey-fellow">Stephen Embleton named inaugural James Currey Fellow</a>
            <p class="more-news-paragraph">19 October 2021</p>
          </div>
          <div class="">
            <img src="images/stephen_embleton-news.jpg" alt="">
          </div>
        </div>
        <hr>
        <div class="more-news-grid-image">
          <div class="">
            <a href="https://independent.ng/james-currey-panel-kicks-off-labafs-seven-day-festival/">James Currey Panel Kicks Off LABAF’s Seven Day Festival</a>
            <p class="more-news-paragraph">21 November 2021</p>
          </div>
          <div class="">
            <img src="images/LABAF.jpg" alt="">
          </div>
        </div>
       <hr>
       <div class="more-news-grid-image">
         <div class="">
           <a href="/literaryFestivalNews">James Currey Literary Festival</a>
           <p class="more-news-paragraph">28 August 2021</p>
         </div>

        <div class="">
          <img src="images/james-currey-literary-festival-news.jpg" alt="">
        </div>
       </div>
    </div>

  </section>

<%- include("footer") -%>
