<%- include("header") -%>

<nav class="navbar  navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img class="navbar-brand" src="images/logo.jpeg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="james-currey-society-header" >
  <img src="images/onyeka-james-currey-society.jpg" style="width: 100%; height:auto" alt="">
</div>


<section class="james-currey-society">
  <div class="james-currey-society-section">
    <h2>Writing and Publishing Workshop</h2>
    <div class="picture-gallery picture-gallery-1">
      <div class="">
         <img src="images/stephen-embleton.jpg" class="gallery-image" alt="...">
      </div>
      <div class="">
        <img src="images/james-currey.jpg" class="gallery-image gallery-image-james"   alt="...">
      </div>
      <div class="">
        <img src="images/aduka-1.jpg" class="gallery-image" alt="...">
      </div>
    </div>
    <p><strong>If we stand tall it is because we stand on the shoulders of many ancestors – African Proverb</strong></p>
    <p>

      The James Currey Society, in cooperation with University of Oxford’s African
      Studies Centre, is proud to present the James Currey Society Writing & Publishing
      Workshop. This workshop, consisting of four half-day sessions, will be facilitated
      by Stephen Embleton, James Currey Society Fellow to Oxford, 2022.
    </p>
    <br>
    <p>
      The workshop builds on the unprecedented legacy of the original African Writers
      Series and James Currey’s prolific contributions, which resulted in a diversity of storytelling,
      themes of colonialism versus traditional beliefs (e.g. Achebe’s “Things Fall Apart”), folktales, oral
      storytelling and speculative approaches (e.g. Samkange’s “On Trial for my Country”) emerge.
      Stephen will explore the role of African cosmologies, storytelling traditions, African language translations and
      social movements as methods of decolonising writing and publishing of creative works in all literary forms.
      Though centering on African themes and storytelling, the workshop is open to all writers of fiction looking for a
      different perspective.
    </p>
  </div>
  <hr>
  <div class="james-currey-society-section">
    <h2>Participation</h2>
    <div class="picture-gallery picture-gallery-2">
      <div ">
         <img src="images/workshop-4.jpg" class="gallery-image" alt="...">
      </div>
      <div class="">
        <img src="images/onyeka-7.jpg" class="gallery-image" alt="...">
      </div>
      <div class="">
        <img src="images/kennedy-aduku-nwelue.jpg" class="gallery-image" alt="...">
      </div>

    </div>
    <p>
      Whether you have existing published works, have a work in progress, or are
      wanting the tools to get started, please submit your motivation statement
      (along with any available works) for us to review. Please submit a motivation
      statement of 300-400 words to the following email address, no later than
      5pm on 5 January 2022: events@africa.ox.ac.uk. Participation is limited
      and we look forward to your submissions. Please indicate if you wish to
      participate in all four sessions or specify which sessions you wish to
      participate in.
    </p>
  </div>
  <hr>
  <div class="james-currey-society-section">
    <h2>Program</h2>
    <div class="picture-gallery picture-gallery-3">
      <div ">
        <img src="images/onyeka-3.jpg" class="gallery-image"  alt="...">
      </div>
      <div class="">
        <img src="images/workshop-2.jpg" class="gallery-image" alt="...">
      </div>
      <div class="">
        <img src="images/wole-soyinka-2.jpg" class="gallery-image" alt="...">
      </div>
    </div>

    <ul>
      <li><strong>Day 1, Friday 21 Jan, 1-4pm: BREAKING LITERARY MOULDS: Studying the Works of James Currey and the AWS.</strong></li>
      <p>
        The African Writers Series, along with James Currey’s prolific contributions,
        resulted in a diversity of storytelling. The works of Achebe, Gordimer,
        Soyinka, and many more, cover themes of colonialism, traditional beliefs,
        folktales, oral storytelling and the speculative.
      </p>

      <li><strong>Day 2, Friday 28 Jan, 1-4pm: YOUR PITCH, YOUR STORY, YOUR CHARACTERS: Your Synopsis is Your Guide.</strong></li>
      <p>
        How you see the scope of your narrative – how you pitch it in one sentence to
        who the characters are that inhabit it – will give you insight into its potential
        and be a beacon during the meandering process of writing.
      </p>
      <li><strong>Day 3, Friday 4 Feb, 1-4pm: THE AFRICAN HERO’S JOURNEY: Authentic African Storytelling.</strong></li>
      <p>
        Cosmologies, folktales and lore reveal an African story beyond the ages.
         Along with Day 1’s lessons, see the potential of bending your genre.
      </p>
      <li><strong>Day 4, Friday 11 Feb, 1-4pm: PLOTTING & ACTS: A Focus on Narrative Storylines</strong></li>
      <p>
        Whether it be a short story, stage play or novel, structure through the use
        of Acts helps with plot, themes and character arcs. We will look at the 3
        Act, 5 Act and, with the groundwork from Day 3, more.
      </p>
    </ul>
  </div>

</section>

<%- include("footer") -%>
