<%- include("header") -%>

<nav class="navbar  navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img class="navbar-brand" src="images/logo.jpeg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="literary-festival-news-header">
      <img src="images/james-currey-literary-festival-header.jpg" style="width: 100%; height: auto" alt="">
    </div>

    <section class="">
      <div class="literary-festival-news-article">
        <div class="publishing-date">
          <div class="ikhide-date-container">
            <p>Published</p>
            <p class="ikhide-date">28 August 2021</p>
            <p>Share this</p>
          </div>


        <div class="news-social-icon">
          <span class="icon"><i class="social-icons fas fa-envelope"></i></span>
          <span class="icon"><i class="social-icons fab fa-facebook-f"></i></span>
          <span class="icon"><i class="social-icons fab fa-twitter"></i></span>
          <span class="icon"><i class="social-icons fa-brands fa-linkedin"></i></span>
          <span class="icon"><i class="social-icons fab fa-instagram"></i></span>
        </div>

        </div>

        <div class="literary-festival-main">
          <h1>James Currey Literary Festival</h1>
          <br>
          <p>The judges for the 2022 James Currey Prize for African Literature have released the longlist. The list contains ten writers:</p>
          <ol>
            <li>Rose Okeke - Child of Corn (Nigeria)</li>
            <li>Sumaila Isah Umaisha - Glass House (Nigeria)</li>
            <li>Mohammed Hammie - Mandiga’s Well (Tanzania)</li>
            <li>David Ngumi - The Hitman (Kenya)</li>
            <li>Buntu Siwisa - Paperless (South Africa)</li>
            <li>Esomnofu Ebelenna Tobenna - Madness (Nigeria)</li>
            <li>Chima Ugokwe - Drumbeat of the Gods (Nigeria)</li>
            <li>Evanson Njuki - If War Were a Country (Kenya)</li>
            <li>Abenea Ndago - Lord Kitchener (Kenya)</li>
            <li>Peter Muigai - In the Castle of My Heart (Kenya)</li>
          </ol>
          <br>

          <p>
            On the longlist of the second edition, are Rose Okeke for Child of
            Corn, Sumaila Isah Umaisha for Glass House, Mohammed Hammie for
            Mandinga’s Well, David Ngumi for The Hitman, Buntu Siwisa for
            Paperless and Esomnofu Ebelenna Tobenna for Madness.
            Also on the list, are Chima Ugokwe for Drumbeat of the Gods,
            Evanson Njuki for If War Were a Country, Abenea Ndago for Lord
            Kitchener and Peter Muigai for In the Castle of My Heart.
          </p>
          <br>
          <p>
            A shortlist will be released on 1st July, 2022 and this will be
            followed by the announcement of the winner on September 3rd at a prize
            ceremony scheduled at the University of Oxford during the James Currey
            Literary Festival.
          </p>

          <br>
          <p>
            <strong>Ever Obi</strong>, Chair of Jury, in his statement said:
            “It is my pleasure to announce the longlist of the 2022 James Currey Prize
            for African Literature. <strong>The College of Readers sent in 20 entries,
            which we as the Jury had to cut down to a long list of 10. The 20 manuscripts
            in competition were distributed amongst all Jury members - in no particular order.
            We have now assessed them, using our criteria and guideline to come up
            with a long list.” According to him, the long list will now be distributed amongst jurors
            to determine the final 5, which will be announced on 1st July 2022.
            </strong>
          </p>

          <br>

          <p>
            Jury members include Indian author and scholar, Dr. Suraj Yengde,
            Teri Sillo (United Kingdom), Thomas Dukelabik Amanquandor(Ghana),
            Peace Anyiam-Osigwe (Nigeria), Olukorede S Yishau (Nigeria), and Charmaine
            R Mujeri (Zimbabwe).
          </p>

          <div class="">
            <img src="images/james-currey-literary-festival-2.jpg" alt="">
          </div>
          <br>
          <p>
            The James Currey Prize for African Literature was instituted by Nigerian
            writer, filmmaker, bookseller and publisher, Onyeka Nwelue, who founded
            the Oxford-based James Currey Society and is an Academic Visitor at the
            African Studies, University of Oxford.

          </p>

          <br>
          <p>
            James Currey, the co-founder of James Currey Publishers, which was established
            in 1984, has been called “The Godfather of African Literature”. His
            publishing house is responsible for producing a vast number of academic
            books, journals, fiction and non-fiction books about Africa, especially
            in a period when it was considered not profitable to publish books about
            Africa. He, together with Chinua Achebe, under the auspices of Heinemann
            Publishers, produced the famous African Writers Series (AWS), which have
            inspired many African(ist)s around the world.
          </p>

          <br>
          <p>
            The Prize is administered by the James Currey Society, under the
            auspices of African Studies Centre, University of Oxford.
          </p>

          <p>
            It is supported by Abibiman Publishing, Weston Library, University of Oxford,
            Naija Times, The Lagos Review, 28 Studios, BellaNaija, Open Country
            Magazine, Y! Naija, La Cave Musik, FT Weekend Oxford Literary Festival,
            Daniel Ford International, World Arts Agency, Sally Dunsmore, British
            Council and British Airways.
          </p>
          <br>
            <a href="/pdfFile">
              <div id="container">
                <div id="button">
                  <div id="first">
                    <h4 class="plus-sign">+</h4>
                  </div>
                  <div id="second">
                    <h5>Download PDF</h5>
                  </div>
                </div>
              </div>
            </a>
        </div>
        <div class="more-news">
            <h2 class="more-news-h1">More news</h2>
            <div class="more-news-grid-image">
              <div class="">
                <a href="https://www.lindaikejisblog.com/2021/10/onyeka-nwelue-visits-james-currey-in-oxford-video.html">Onyeka Nwelue visits James Currey in Oxford (video)</a>
                <p class="more-news-paragraph">10 July 2021</p>
              </div>
              <div class="">
                <img src="images/nwelue-visit-james-currey.png" alt="">
              </div>
            </div>
            <hr>
            <div class="more-news-grid-image">
              <div class="">
                <a href="https://www.africanstudies.ox.ac.uk/article/stephen-embleton-named-inaugural-james-currey-fellow">Stephen Embleton named inaugural James Currey Fellow</a>
                <p class="more-news-paragraph">19 October 2021</p>
              </div>
              <div class="">
                <img src="images/stephen_embleton-news.jpg" alt="">
              </div>
            </div>
            <hr>
            <div class="more-news-grid-image">
              <div class="">
                <a href="https://independent.ng/james-currey-panel-kicks-off-labafs-seven-day-festival/">James Currey Panel Kicks Off LABAF’s Seven Day Festival</a>
                <p class="more-news-paragraph">21 November 2021</p>
              </div>
              <div class="">
                <img src="images/LABAF.jpg" alt="">
              </div>
            </div>
           <hr>
           <div class="more-news-grid-image">
             <div class="">
                <a href="/ikhideIkheloaNews">Ikhide R. Ikheloa to receive James Currey Lifetime Achievement Award in Literary Criticism</a>
                <p class="more-news-paragraph">25 August 2021</p>
             </div>

            <div class="">
              <img src="images/ikhide-ikheloa-better-picture-news.jpg"  alt="">
            </div>
           </div>
        </div>
      </div>

    </section>



    <%- include("footer") -%>
