<%- include("header") -%>

<nav class="navbar  navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img class="navbar-brand" src="images/logo.jpeg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="membership-header">
        <div class="membership-layer">
          <img src="images/james.jpg" alt="" style="width:100%; height:auto;">
          <div class="membership-header-text">
            <p> You are invited to join The James Currey Society today!</p>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="membership-linked-page">
        <div class="membership-advantages">
          <h2 class="membership-h1">Membership Advantages</h2>
          <ul>
            <li>
              All members enjoy complimentary general admission for a full year, discounted general admission tickets for up to two
              guests per visit (NEW!), FREE admission to select screenings (NEW!), invitations to members-only programmes and special
              screenings, discounts at the James Currey Literary Festival, members-only viewing hours at the James Currey Exhibitions
              each month, expedited check-in, and other fantastic benefits like free admission to select screenings at the Oxford Afro-Caribbean
              film festival.
            </li>
            <br>

            <li>
              Each membership level offers expanded perks, and we are pleased to offer exciting new benefits for Contributor-level
              Members and up—complimentary general admission for two guests during each visit, two complimentary tickets to select events,
               and more!
            </li>
            <br>

            <li>
              Your membership allows you to engage with the Society in a truly special way, while also providing valuable support for
              the creative arts and helping us to create engaging, accessible programming and exhibitions.

            </li>
          </ul>

        </div>

        <div class="membership-application-form">
          <img src="images/logo.jpeg" alt="">
          <h2>Rember to fill out the Application Form!</h2>
          <a href="/application"><h2 class="application-h2">Go to the Application Section.</h2></a>
        </div>
        <div>
        </div>
        <p class="membership-h1">
          To join the James Currey Society, apply for membership by sending an email with your CV to:
          <span><a class="membership-anchor-tag-email" href="membership@jamescurreysociety.co.uk">membership@jamescurreysociety.co.uk</a></span> or
          fill out the Application on the home page.
          Then, choose your membership plan below.
        </p>
      </section>



    <section class="pricing py-5">
        <h1 class="membership-h1">Select preferred membership plan</h1>
  <div class="container pricing-container-1">
    <div class="row pricing-row-1">
      <!-- Free Tier -->
      <div class="col-md-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Student Membership</h5>
            <h6 class="card-price text-center">£50.00 GBP<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Lorem ipsum</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Lorem ipsum</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Lorem ipsum
              </li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Lorem ipsum</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn text-uppercase"><p>pay now</p></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-md-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Individual Membership</h5>
            <h6 class="card-price text-center">£150.00 GBP<span class="period">/Year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Lorem ipsum</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsumn</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Lorem ipsum</li>
            </ul>
            <div class="d-grid">
                <a href="#" class="btn text-uppercase"><p>pay now</p></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">FRIEND Membership</h5>
            <h6 class="card-price text-center">$49<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Lorem ipsum</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsumn</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Lorem ipsum</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn text-uppercase"><p>pay now</p></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="container pricing-container-2">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">LIFETIME MEMBERSHIP</h5>
            <h6 class="card-price text-center">£2,500.00 GBP</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Lorem ipsum</strong>
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
            </ul>
            <div class="d-grid">
                <a href="#" class="btn text-uppercase"><p>pay now</p></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">CORPORATE MEMBERSHIP</h5>
            <h6 class="card-price text-center">£5,000.00 GBP<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Lorem ipsum</strong>
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Lorem ipsum</li>
            </ul>
            <div class="d-grid">
                <a href="#" class="btn text-uppercase"><p>pay now</p></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
</main>

<%- include("footer") -%>
